@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* largeur maximale des inputs sur le backOffice */
  .cstm_width_XlInput {
    @apply w-3/4 lg:w-7/12;
  }
  /* style des inputs sur le backOffice */
  .cstm_styleInput {
    @apply border-solid border-primary border-[1.5px] rounded-md p-3;
  }
  /* style des boutons bleus sur le backOffice */
  .cstm_buttonPrimary {
    @apply bg-primary text-white text-base rounded-md p-2 hover:bg-secondary hover:text-primary;
  }
  /* style des boutons orange sur le backOffice */
  .cstm_buttonSecondary {
    @apply bg-secondary border-solid border-secondary border-2 text-primary text-base rounded-md p-2 w-32 hover:bg-primary hover:text-white hover:border-primary;
  }
  /* style des boutons transparents & bords orange sur le backOffice */
  .cstm_buttonSecondaryNone {
    @apply border-solid border-secondary border-2 text-secondary text-base rounded-md p-2 w-32 hover:bg-secondary hover:text-white;
  }
  /* style des boutons orange sur le site */
  .cstm_cstmrButton {
    @apply bg-secondary border-solid border-secondary border-2 text-primary text-base rounded-md p-2 w-32 hover:text-secondary hover:border-secondary hover:bg-transparent;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

h1,
h2,
h3,
nav,
li {
  font-family: "Abel", sans-serif;
}

body {
  font-family: "Abel", sans-serif;
}
